
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('vc.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

section {
    padding: 20px;
}

footer {
    background-color:#8b8a8a;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.resized-image-LI {
    width: 141px;
    height: 134px;
    margin-right: 86px; /* maintain the aspect ratio */

    
  }

.resized-image-GH{

    width: 112px;
    height: 97px;
    margin-right: 100px;
     /* maintain the aspect ratio */
     margin-bottom: 20px;
    
}  


.resized-image-KG{

    width: 189px;
    height: 77px;
    margin-bottom: 28px; /* maintain the aspect ratio */
    margin-right : 64px ;
}

.resized-image-LC{

    width: 189px;
    height: 77px;
    margin-bottom: 28px ;
    
    
}

.intro{

    
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    /*text-shadow: 1px 1px 2px rgba(98, 175, 201, 0.937);*/
    /*background-color: #f7f7f7;*/
    padding: 10px;
    margin-bottom: 20px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 5px;*/
      
      
}

.logo{

    background-color:#d9e1e1;
    padding: 0px;
}